@page
@model NET_6_Razor.Pages.Private.OrderListModel
@{
}
<h1>Список заказов</h1>
<hr />
<table class="table">
    <thead>
        <tr><th>ID заказа</th><th>ID пользователя</th><th>Дата заказа</th></tr>
    </thead>
    <tbody>
        @foreach (var order in Model.orderList)
        {
            <tr>
                <td>@order.ID_order</td>
                <td>@order.ID_user</td>
                <td>@order.Date</td>
                <td>
                    <form method="post">
                        <button type="submit" asp-page="/Private/OrderUpdate" asp-route-id_order="@order.ID_order">Изменить</button>
                        <button type="submit" asp-page-handler="Delete" asp-route-id_order="@order.ID_order">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post">
    <button type="submit" asp-page="/Private/OrderCreate">Создать</button>
</form>